@page "/"

@inject Services.PersonService PersonService

<h1>Hello, world!</h1>

<EditForm Model="@_person">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<InputText id="first-name" @bind-Value="_person.FirstName" />
	<InputText id="last-name" @bind-Value="_person.LastName" />
	<InputDate id="created" @bind-Value="_person.Created" />

</EditForm>

<p>@_person.FirstName</p>
<p>@_person.LastName</p>
<p>@_person.Created</p>

<button @onclick="Update">Update</button>


@code
{
	private Services.Person _person;
	private readonly Guid _sessionId = Guid.NewGuid();

	protected override async Task OnInitializedAsync()
	{
		_person = await PersonService.Get(_sessionId, 1);
		_person.PropertyChanged += OnPersonChanged;
	}

	private async void OnPersonChanged(object sender, EventArgs args)
	{
		await PersonService.Update(_sessionId, _person);
		await InvokeAsync(() =>
		{
			StateHasChanged();
		});
	}

	private async Task Update()
	{
		_person.Created = DateTime.Now;
		await PersonService.Update(_sessionId, _person);
	}

	public void Dispose()
	{
		_person.PropertyChanged -= OnPersonChanged;
	}
}